<html>

  <head>
    <title>Ticket Terminal</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/tickets.css">
    <link rel="stylesheet" href="/stylesheets/ticket.css">
  </head>

  <body>

    <h1>Ticket Terminal</h1>

    <%= yield %>

  </body>

</html>
