<div id="ticket">
  <h2><%= ticket[:name] %></h2>
  <div class="price"><strong>Price:</strong> $<%= ticket[:price] %></div>

  <form method="post" action="/tickets/<%= ticket_id %>/add">
    <input type="submit" value="Add to cart">
  </form>

</div>
