<div id="tickets">

  <ul class="tickets--list">

    <% tickets.each do |uuid, ticket| %>
      <li>
        <a href="/tickets/<%= uuid %>">
          <span class="name"><%= ticket[:name] %></span>
          <span class="price">$<%= ticket[:price] %></span>
        </a>
      </li>
    <% end %>

  </ul>

</div>
