<div id="ticket">

  <h2><%= ticket[:name] %></h2>

  <div class="price"><strong>Price:</strong> $<%= ticket[:price] %></div>

  <form class="actions" method="post" action="/tickets/<%= ticket_id %>/add">
    <input class="button add" type="submit" value="Add to cart">
  </form>

</div>
