#cart {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #EFEFEF;
  .items {
    line-height: 2rem;
  }
  .striked-price {
    opacity: .75;
    text-decoration: line-through;
  }
  .discount-price {
    color: #30C94E;
  }
  .empty {
    p {
      margin: 0;
    }
  }
  .total {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}
